{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
    Subjects
{% endblock title %}

{% block breadcrumb %}
    <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#modal1">
        <i class="fa fa-plus"></i>
        Add new subject
    </a>
{% endblock breadcrumb %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">

            <table class="table table-bordered">
                <tbody>
                {% for object in object_list %}
                    <tr>
                        <td>{{ object }}</td>
                        <td>
                            <a href="{% url 'subject-update' object.id %}"><i class="fa fa-edit"></i></a>
                            <a href="{% url 'subject-delete' object.id %}"><i class="fa fa-trash-alt"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

{% endblock content %}